@import "./styles/uikit";
@import "./styles/reset";
@import "./styles/utils";
@import "./styles/variables";

/*
* Navbar
*/
nav {
  box-shadow: 0 0 10px darken($gray_color, 20);
  height: 50px;
  margin-bottom: 20px;

  a.uk-navbar-toggle {
    min-height: 55px;
  }
}

/*
* Sidebar
*/
.sidebar {
  .sidebar-menu {
    padding-top: 20px;
  }
}

/*
* Bottom bar
*/
.bottom-bar {
  background-color: white;
  border-top: 1px solid $gray_color;
  bottom: 0;
  height: $bottom_bar_height;
  left: 0;
  right: 0;

  &:before {
    border: 1px solid $gray_color;
    content: "";
    display: inline;
    height: $bottom_bar_height;
    position: absolute;
    top: 0;
    left: 50%;
  }

  div {
    text-align: center;
    padding-top: 12px;

    a {
      display: block;
      width: 100%;
    }
  }
}

/*
* Main container
*/

.main-container {
  overflow: scroll;
}
