@import "./styles/vendor";
@import "./styles/reset";
@import "./styles/utils";
@import "./styles/variables";

/*
* Navbar
*/
nav {
  box-shadow: 0 0 10px darken($gray_color, 20);
  height: 50px;
  margin-bottom: 20px;

  a.uk-navbar-toggle {
    min-height: 55px;
  }
}

/*
* Sidebar
*/
.sidebar {
  .sidebar-menu {
    padding-top: 20px;
  }
}

/*
* Bottom bar
*/
.bottom-bar {
  background-color: white;
  border-top: 1px solid $gray_color;
  bottom: 0;
  height: $bottom_bar_height;
  left: 0;
  right: 0;

  &:before {
    border: 1px solid $gray_color;
    content: "";
    display: inline;
    height: $bottom_bar_height;
    position: absolute;
    top: 0;
    left: 50%;
  }

  div {
    text-align: center;
    padding-top: 12px;

    a {
      display: block;
      width: 100%;
    }
  }
}

/*
* DateFilter
*/
.date-filter {
  span {
    padding-top: 4px;
  }

  div.react-datepicker__input-container {
    border: 1px solid $gray_color;
    border-radius: 10px;
    input[type="text"] {
      text-align: center;
    }
  }
}

/*
* Circle button icon
*/
.button-circle-icon {
  text-align: center;
  transition: 0.3s;
  margin-right: 1rem;
  background: inherit;
  border: 0;

  &:focus {
    outline: 0;
  }

  &.selected {
    > span {
      border-color: $black;
      color: $black;

      + p {
        color: $black;
      }
    }
  }

  span {
    padding: 5px;
    border: 1px solid $gray_color;
    border-radius: 50%;
  }

  p {
    margin: 0;
    font-size: 10px;
    white-space: normal;
  }
}

/*
* Main container
*/
.main-container {
  overflow: auto;
  padding-bottom: 20px;
}

/*
* Expenses
*/
.show {
  display: flex;
}
.hide {
  display: none;
}

.expense-item {
  ul {
    position: relative;
    bottom: 15px;
    left: 12px;

    li {
      &:nth-child(2) {
        padding-left: 0;
      }
    }
  }

  hr {
    margin-top: 10px;
  }
}

.expenses-form {
  .placeholder-center {
    &::-webkit-input-placeholder {
      text-align: center;
    }
  }

  .input-focused {
    display: block;
  }
  .input-blur {
    display: none;
  }

  /*
  * Money mask input
  */
  .currency {
    font-size: 13px;
    position: absolute;
    left: 5px;
    top: 5px;

    + input {
      padding-left: 37px !important;
    }
  }
}

.expenses-total {
  &.uk-active {
    left: 0;
    width: 100% !important;
  }
}

/*
* Paycheck Tracker
*
*/
.paycheck-amount {
  overflow: hidden;
  flex-basis: 100%;
  padding-top: 0;

  form {
    margin-bottom: 20px;
    input {
      font-size: 1rem;
      // border: 0;
      width: 100px;
    }
  }
  button {
    position: absolute;
    top: 35%;
    right: 10%;
  }
}
.paycheck-add-btn {
  &.uk-active {
    width: 100% !important;
    left: 0;
  }
}
